.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.center{
    justify-content: baseline;
}

.item-center{
    align-items: center;
}

.invert{
    filter: invert(1);
}